@font-face {
    font-family: "StyleScript";
    src: url('./font/StyleScript-Regular.ttf');
}
@font-face {
    font-family: "VarelaRound";
    src: url('./font/VarelaRound-Regular.ttf');
}


#titulo {
    font-family: Poppins;
    padding-top:1%;
    padding-bottom:1%;
    font-size: 250%;
    color:rgb(35, 23, 48);
    background:#cbccf5;
    margin-bottom:1.5%;
    line-height:90% !important;
    text-align: center;
    border: 2px solid  #dcdce1;
}

#detalle {
	padding-top:1%;
	font-family: Poppins;
	/*background:#cbccf5;*/
	color:rgb(35, 23, 48);
	text-align: center;
    /* border: 2px solid  #dcdce1;*/
	font-size: 130%;
}

.dolar-name {
	text-align: center;
	font-weight: 600;
	font-size: 18px;
}

.btn {
    border: 2px solid  #0a0a49;
	color:rgb(249, 248, 250);
	background:#131317;
}

.cotizacion {
    border: 2px solid  #0a0a49;
	color:rgb(249, 248, 250);
	background:#131317;
}
#contenedorTabla h3{
	font-family: Poppins;
	background:#cbccf5;
	color:rgb(35, 23, 48);
	text-align: center;
    border: 2px solid  #dcdce1;
	line-height:90% !important;
    text-align: center;
}

#listado {
	font-family: Poppins;
	background:#cbccf5;
	color:rgb(35, 23, 48);
	text-align: center;
    border: 2px solid  #dcdce1;
	line-height:90% !important;
    text-align: center;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}
/* ----- -----  Estilos para Validacion ----- ----- */
.form-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.form-control-incorrecto .formulario__label {
	color: #bb2929;
}

.form-control-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.form-control-incorrecto .form-control {
	border: 3px solid #bb2929;
}

.form-control:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.form-control-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.form-control-error-activo {
	display: block;
}
.formulario__mensaje,
.form-control-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: #000;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}


.itemCard .icoBox img {
    width: 75px;
    height: 75px;
    padding: 5px;
    border-radius: 50%;
    background: #f2f2f2;
}
.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}
@media (min-width: 992px){
.col-lg-6 {
    flex: 0 0 40%;
    max-width: 40%;
    margin: 0 auto;
}
}

/*STYLES DOLAR*/

body {
	background-color: #eff3ff;
}
nav {
	background-color: #ef5350;
	position: fixed;
	top: 0;
	width: 100%;
	height: 64px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1;
	padding: 0 40px;
}
button {
	background-color: white;
	border-radius: 8px;
	box-shadow: none;
	border: none;
	cursor: pointer;
}
img {
	max-width: 100%;
	max-height: 100%;
}

#container {
	padding: 40px 0;
	display: grid;
	max-width: 100%;
	grid-gap: 50px;
	margin: 40px auto 0;
	width: 95%;
	grid-auto-rows: 340px;
	grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}

#valores {
	padding: 40px 0;
	display: grid;
	max-width: 100%;
	grid-gap: 50px;
	margin: 40px auto 0;
	width: 95%;
	grid-auto-rows: 340px;
	grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}
.card {
	position: relative;
	width: 100%;
	padding: 30px 20px;
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	background: radial-gradient(circle at 50% 0%, rgb(48, 51, 107) 45%, rgb(255, 255, 255) 36%)

}
.card img {
	display: block;
	width: 180px;
	max-height: 200px;
	position: relative;
	margin: 20px auto;
}

