@font-face {
    font-family: "StyleScript";
    src: url('./font/StyleScript-Regular.ttf');
}
@font-face {
    font-family: "VarelaRound";
    src: url('./font/VarelaRound-Regular.ttf');
}

/*
$border_color: #b6f8f4;
$estilos: (
    font_color: black ,
    site_color: #e2fdf4,
    lila_color: rgb(203, 147, 255),
    gray_color: rgb(141, 138, 138),
    font_instrucciones: ('Raleway', sans-serif),
    border:  2px solid $border_color
);
$gradient-testght: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 70%, #dbfbde 100%);
$gradient-right: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 70%, #e2fdf4 100%);

*/


#titulo {
    font-family: Poppins;
    padding-top:1%;
    padding-bottom:1%;
    font-size: 250%;
    color:rgb(35, 23, 48);
    background:#cbccf5;
    margin-bottom:1.5%;
    line-height:90% !important;
    text-align: center;
    border: 2px solid  #dcdce1;
}
